<ul>
  <% @data.each do |movie| %>
    <li><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></a></li>
  <% end %>
</ul>

<% (@data.size/20.0).ceil.times do |i| %>
  <a href="/movies?page=<%= i %>"><%= i %></a> |
<% end %>

